* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

a:hover {
  color: #fe7000;
}

/* navbar styling */
header {
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #fe7000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  color: #fff;
}

.links>li {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000000;
  padding: 10px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fe7000;
  color: #fff;
}

.links .dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu a {
  color: #000000;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* hero styling */
.hero_section {
  background: url("../images/home1.png") center center /cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero_section_exercises {
  background: url("../images/bench_background.png") center bottom /cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero_section_nutrition {
  background: url("../images/food_background.png") center center /cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.hero_section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero_section p {
  font-size: 20px;
}

.hero_section_exercises h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero_section_exercises p {
  font-size: 20px;
}

.hero_section_nutrition h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero_section_nutrition p {
  font-size: 20px;
  color: white;
}

/* Card styling */
.cards_section {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
}

.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
}

/* Responsieve aanpassing voor mobiel */
@media (max-width: 768px) {
  .cards_section {
    grid-template-columns: 1fr;
  }

  .card img {
    height: 150px;
  }
}

.card h3 {
  padding: 15px;
  background-color: #333;
  color: #fff;
  margin: 0;
}

.card a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* waarom moet dit ook? */
h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

a:visited {
  color: rgb(27, 27, 27);
}

.box {
  border-color: rgb(223, 223, 223);
  border-style: dashed;
  border-width: 2px;
}

.float-box {
  float: left;
}

p::first-letter {
  font-size: 1em;
}

p {
  line-height: 1.5;
  text-indent: 20px;
  word-spacing: 5px;
}

.hero_section h1,
.hero_section_exercises h1,
.hero_section_nutrition h1,
.cta_section h1,
.cta_section_events h1,
.cta_section_times h1,
.opening-hours h2 {
  color: rgb(255, 255, 255);
  /* Voorbeeldkleur */
}

.card:hover {
  transform: scale(1.05);
}

/* cta styling */
.cta_section {
  background: url("../images/home2.png") center center /cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.cta_section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta_section button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta_section button:hover {
  background-color: #ff3a3f;
}

.cta_section_events {
  background: url("../images/bench_background.png") center center /cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.cta_section_events h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta_section_events button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta_section_events button:hover {
  background-color: #ff3a3f;
}

.cta_section_times {
  background: url("../images/food_background.png") center center /cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.cta_section_times h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta_section_times button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta_section_times button:hover {
  background-color: #ff3a3f;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

/* footer styling */
.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #7ADEC9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links p {
  color: #bbbbbb;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* aside styling */
.aside a:hover {
  color: #7ADEC9;
}

aside {
  background-color: #fe7000;
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.main-text {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  margin: 50px auto;
}

/* carousel styling */
.carousel_section {
  text-align: center;
  margin: 50px auto;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  padding-left: 10%;
  padding-right: 10%;
}

.carousel-item {
  flex: 0 0 20%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border-radius: 50%;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* contact styling */
.contact_section {
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
}

.heading_container {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact-form form {
  max-width: 600px;
  margin: 0 auto;
}

.form-fields {
  list-style: none;
  padding: 0;
}

.form-fields li {
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.75rem;
  border: #ccc solid 1px;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.input_message {
  height: 120px;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.contact-form fieldset {
  border: none;
  padding: 1rem;
  background-color: #f9f9f9;
}

.contact-form label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact-form legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.btn_on-hover {
  padding: 0.75rem 2rem;
  background-color: #ffa500;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_on-hover:hover {
  background-color: #fe7000;
}

@media (max-width: 768px) {
  .contact-form form {
    width: 90%;
  }
}

/* event styling */
.upcoming_events {
  padding: 2rem;
  text-align: center;
}

.events-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.events-table td {
  padding: 1rem;
  vertical-align: top;
  text-align: center;
}

.event-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
  max-width: 250px;
  margin: 0 auto;
}

.event-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.event-card h3 {
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem;
}

.event-card p {
  margin: 0.5rem 0;
  color: #666;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .events-table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .events-table td {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .event-card {
    width: 90%;
    max-width: 350px;
  }
}

/* times styling */
.opening-hours {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgb(70, 28, 28, 0.1);
  margin-bottom: 50px;
}

.opening-hours h2 {
  text-align: center;
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

table,
th,
td {
  border: #ffffff solid 1px;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #fe7000;
  color: white;
}

td {
  color: #000000;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

/* cookie styling */
#cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fe7000;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 90%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

#cookie-popup.show {
  opacity: 1;
  visibility: visible;
}

#cookie-popup p {
  margin: 0;
  text-align: center;
  font-size: 0.875em;
}

#cookie-popup button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.3125em;
  cursor: pointer;
  font-size: 0.875em;
}

#cookie-popup button:hover {
  background-color: #1874CD;
}

.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}